<header>
  <nav>
    <a href="/">Homepage</a>
    <div class="">
      <a href="/blogs/new-post">New Post</a>
      <a href="/profile" title="signout and profile link">Profile / sign in</a>
    </div>
  </nav>
</header>
