<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>My Profile</title>
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="master.css">
</head>
<body>
  <% include partials/header %>
  <div class="body-container">
    <h1>Hello <%= user.username %></h1>
    <a href="/auth/logout">Logout</a>
    <br><br><br>
    <form>
      <label for="bio-field">My bio</label>
      <textarea name="bio-field" id="bio-field"><%= user.bio %></textarea>
      <button type="submit">Update bio</button>
    </form>


  </div>
  <script type="text/javascript">
      document.querySelector('form').onsubmit = function() {
        var bioInputValue = document.getElementById('bio-field').value;

        var xhttp = new XMLHttpRequest();

        xhttp.open("POST", "/profile", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify({
          bio: bioInputValue
        }));

        xhttp.onload = function() {
          if (this.readyState == 4 && this.status == 200) {
            var data = JSON.parse(xhttp.responseText);
            console.log(data);
          }
        }
        return false;
      }
    </script>
</body>
</html>
